body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #F3E5D7;
  color: #888;
}

section {
  width: 40rem;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  margin:70px auto;
}

img {
  border-radius: 20px;
}

h1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 46px;
  color: black;
  margin-top: 20px;
}

.pink-section {
  margin-top: 50px;
  background-color: #FFF8FC;
  border-radius: 10px;
  padding: 20px;
}

ul, ol  {
  padding-left: 17px;
  line-height: 2;
}


strong {
  color: black;
}

.theading{
 color: hsl(14, 45%, 36%);
}


.sheading{
  color:hsl(332, 51%, 32%); 
  font-family: 'Inter', sans-serif; 
  font-weight: 500;
}

@media screen and (max-width:576px) {
  h1 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 46px;
    color: black;
    margin-top: 20px;
  }

  section {
    width: 25rem;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    margin:70px auto;
  }
}